/* Student Name: Kit Lung Keith Hon - Student Number: 8951521 */

/* root element html */
html{
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font: 20px Arial, Helvetica, sans-serif;
    color: black;
    background-color: #0e1329;
    line-height: 1.6;
}
/* body */
body{
    max-width: 1280px;
    width: 100%;
    margin: auto;
}
/* multiple-selector for header, footer, main, and aside */
header, footer, main, aside{
    margin: 0.2rem;
    padding: 0.2rem;
}
/* header */
header{
    background: linear-gradient( #0e1329,#b84c8b,#0e1329);
    border: 0.2rem dashed #02eeac;
}
/* footer */
footer{
    clear : both;
    background: linear-gradient( #0e1329,#b84c8b,#0e1329);
    color: white;
    font-size: 0.8rem;
    border: 0.2rem dashed #02eeac;
}
/* main */
main{
    width: 68.25%;
    float: left;
}
/* aside */
aside{
    width: 29.25%;
    float: left;
}
/* h1 */
h1{
    color:white;
    font-size: 2.5rem;
    text-align: center;
    text-transform: uppercase;
}
/* main-section class (using class selector)*/
.main-section{
    color: #e9d49f;
}
/* h2 (using descendant selector) */
.main-section h2{
    font-variant: small-caps;
    font-style: normal;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #02eeac;
    text-align: center;
}
/* biography */
#biography{
    float: left;
    width: 50%;
}
/* blockquote */
#blockquote{
    font-variant: small-caps;
    text-align: left;
}
/* image */
#image{
    float: left;
    width: 50%;
}
/* figure */
figure{
    background-color: #414143;
    border : 0.2rem ridge black;
    border-radius: 0.5rem;
    width: 80%;
}
/* img (using child selector)*/
figure > img{
    text-align: center;
    width : 90%;
    height : 50%;
    display : block;
    margin : auto;
}
/* figcaption */
figure img + figcaption{
    clear: both;
    text-align: center;
    font-variant: small-caps;
    font-style: italic;
    font-weight: bold;
    font-family: Arial Narrow, Helvetica, sans-serif;
    color: #e9d49f;
}
/* quote */
#quote{
    clear:both;
    width:95%;
    font-variant: normal;
    font-style: italic;
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
    color:gold;
    text-align: center;
    border: 0.2rem solid #02eeac;
    box-shadow: 0.4rem 0.4rem 0.25rem grey;
}
/* iframe (using ID selector) */
#iframe{
    padding:0.2rem;
    border: 0.2rem solid #02eeac;
}
/* h2 of aside-section */
.aside-section > h2{
    font-variant: small-caps;
    font-weight: bold;
    color: #02eeac;
    text-align: center;
}
/* link of aside-section */
.aside-section ul{
    list-style-type: none;
    line-height: 2.5rem;
}
/* paragraph of aside-section */
.aside-section p{
    font-style: italic;
    color: #e9d49f;
}
/* form-labels of aside-section */
.form-label{
    font-variant: small-caps;
    font-weight: bold;
    font-style: italic;
    color: #e9d49f;
    text-align: center;
}
/* for all input controls (in the same class) of aside-section */
.form-control{
    height: 100%;
    width: 60%;
    text-align: left;
}
/* textarea element of aside-section */
textarea[name=comments]{
    height: 100%;
    width: 100%;
    text-align: left;
}
/* drop-down list of aside-section */
#user-title{
    width: 45%;
}
/* label of notification of aside-section for the checkbox*/
label[for="notification"]{
    word-wrap:break-word;
    width: 80%;
}
/* checkbox of aside-section */
input[type="checkbox"]{
    width: 10%;
    vertical-align: left;
}
/* the Clear button */
input[type="reset"]{
    width: 25%;
    text-align: center;
}
/* the Submit button */
input[type="submit"]{
    width: 25%;
    text-align: center;
}
/* unvisited link*/
a:link{
    color: #e9d49f; 
    text-decoration: none;
} 
/* visited link*/
a:visited{
    color:#df1a8d; 
}
/* mouse over link*/
a:hover{ 
    color:gold; 
    text-decoration: underline;
} 
/* selected link*/
a:active{
    color:grey; 
} 
/* responsive design */
@media (max-width : 600px){
    html{
        font-size : 12px;
        padding:0.2rem;
        margin:0.2rem;
    }
    #biography{
        float : none;
        width : 100%;
    }
    #image{
        float : none;
        width : 100%;
    }
    #iframe{
        float : none;
        width : 95%;
    }
    main{
        float : none; 
        width : 100%;
    }
    aside{
        float : none;
        width : 100%;
        text-align: left;
    }
    .aside-section {
        float : none;
        width : 100%;
        text-align: left;
    }
    #resources ul {
        float : none;
        width : 80%;
        text-align: center;
    }
    textarea[name=comments] {
        float : none;
        width : 95%;
        text-align: left;
    }
}

